# Instead, rebuild the environment with your own virtualenvironment
.env

# Python cache files
__pycache__
*.pyc

# PyCharm
.idea

# SASS cache and map files
.sass-cache
*.css.map

# Stuff Kenneth is working on
static-infosec
templates-infosec
