Flask==0.10.1
Flask-SQLAlchemy==2.0
Flask-WTF==0.10.3
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.8
WTForm==1.0
WTForms==2.0.1
Werkzeug==0.9.6
itsdangerous==0.24
psycopg2==2.5.4
py-bcrypt==0.4
Flask-Bcrypt==0.6.0
