{% extends 'page.html' %}
{% block contentarea %}
<h1>Upcoming events</h1>
<table class='upcomingevents'>
  <tr class='infosecclub'>
    <td>Wed, May 13th 11am</td>
    <td>NMap &amp; Wireshark Workshop, by Christian Trujillo - Free pizza while supplies last</td>
    <td>JB-122</td>
    <td>RSVP required (only 13 so far): <a href="http://whoozin.com/VPN-3DP-73ET">http://whoozin.com/VPN-3DP-73ET</a></td>
  </tr>
  <tr class='thirdparty'>
    <td>Wed, May 13th 4pm-5pm</td>
    <td>Graduate Fellowship Program (master’s students only), by the National Nuclear Security Administration. <u>Free for students.</u></td>
    <td>SB-514</td>
    <td>see attached flyer; RSVP to <a href="mailto:bowersc@coyote.csusb.edu">bowersc@coyote.csusb.edu</a></td>
  </tr>
  <tr class='cseclub'>
    <td>Fri, May 15th 11am</td>
    <td>Beginner Linux Tutorial</td>
    <td>JB-358/359</td>
    <td></td>
  </tr>
  <tr class='cseclub'>
    <td>Fri, May 15th 1pm</td>
    <td>Advanced Linux Tutorial</td>
    <td>JB-358/359</td>
    <td></td>
  </tr>
  <tr class='generic'>
    <td>Fri, May 15th 11am-3pm</td>
    <td>Continuing project: Forensics practice</td>
    <td>JB-122</td>
    <td></td>
  </tr>
  <tr class='generic'>
    <td>Fri, May 15th 3pm-8pm</td>
    <td>Continuing project: Lab Security System</td>
    <td>JB-122</td>
    <td></td>
  </tr>
  <tr class='generic'>
    <td>Sat, May 16th 9am-1pm</td>
    <td>Continuing project: Lab Check-In System</td>
    <td>JB-122</td>
    <td></td>
  </tr>
  <tr class='thirdparty'>
    <td>Sat, May 16th 9:30am-4:30pm</td>
    <td>SWIFT TechSymposium - A System- Administration Conference for Students and inquisitive minds. <u>Free for students.</u> Includes Python, security, and networking workshops.</td>
    <td>Cal Poly Pomona</td>
    <td><a href="https://techsymposium.calpolyswift.org/">https://techsymposium.calpolyswift.org/</a></td>
  </tr>
  <tr class='thirdparty'>
    <td>Sat, May 16th 9am-5pm</td>
    <td>International Conference on Cyber Security (ICCS) - <u>$50 for students (includes food).</u> This student offer is not valid for Day #2 of the event (May 17th).</td>
    <td>CO-125</td>
    <td><a href="http://tinyurl.com/iccs2015">http://tinyurl.com/iccs2015</a></td>
  </tr>
</table>

<h1>About Us</h1>
<p>Computer Science &#38; Engineering Club is a club at CSU, San Bernardino devoted to computer science, computer engineering, and computer systems. Interested in us? Feel free to checkout our <a href='https://www.facebook.com/groups/csec.sb/'>Facebook Group</a>, <a href='http://groups.google.com/group/csec_sb'>Google Group</a>, or <a href='https://github.com/CSE-Club'>GitHub</a> account. We also have a page on the <a href='http://www.cse.csusb.edu/resources/club/'>CSE Department</a> website. The club office is in Jack Brown room 540.</p>

<h1 id='membership' data-title='Apply Now!'>Membership Application</h1>

<p>Our club is open to everyone, and we encourage you to join! You can do so by filling out the <a href="/files/membership-2014.pdf">membership application</a> and either turning it into an officer, or dropping it off in our office. We do have a membership fee of $10 per quarter. At this time we can only accept either cash or check.</p>

<h1 id='meetings' data-title='Sometimes there&rsquo;s pizza!'>Meetings</h1>

<p>Every week, we hold workshops where you can improve your skills and learn new things. Unless otherwise announced, our meetings and workshops are held:</p>

<table>
  <tr>
    <th>Day</th>
    <th>Time</th>
    <th>Location</th>
  </tr>
  <tr>
    <td>Friday</td>
    <td>11:00 am to 1:00 pm</td>
    <td>CSE Labs, third floor of JBH</td>
  </tr>
</table>

<p>To see our full workshop schedule and past workshop documents, visit <a href="/workshops">our workshops page</a>. If you have an idea for a workshop, please <a href="#contact">let us know</a>!</p>

<h1 id='projects' data-title='Build you a thing!'>Projects</h1>

<p>As a member of the CSE Club, you are able to participate in any of the five club projects we have. Participating in these projects is a great way to broaden and improve your abilities in our field. One of the most important things that you can have on your resume is a portfolio of work that you have done outside of university classes.</p>

<p>For more information on each of our individual projects, see our <a href="/projects">projects page</a>.</p>

<h1 id='office-hours' data-title='Talk to us&hellip;please'>
  Office Hours
</h1>

<table>
  <tr>
    <th>Day</th>
    <th>Officer</th>
    <th>Time</th>
  </tr>
  <tr>
    <td>Wednesday</td>
    <td>Andrew Brinker</td>
    <td>2:00 pm - 4:00 pm</td>
  </tr>
</table>

{% endblock %}
