{% extends 'page.html' %}
{% block contentarea %}

<div class="col-md-12">
  <h1>Information Security Club</h1>
  <p>The InfoSec Club at <a href="http://www.csusb.edu">California State University San Bernardino</a> is devoted to the art and science of information security. We are a diverse, welcoming group of students passionate about breaking, hacking, and fixing things. We are open to everyone, and we encourage you to join the club! You can do so by visiting the <a href="/signup">Sign Up Page</a>.</p>
</div>

<div class="col-md-6">
  <h2>Meetings</h2>
  <p>We generally have a formal meeting every other Wednesday during the Fall, Winter, and Spring quarters. These consist of guest speakers from the cybersecurity industry, hands-on workshops from students, or relavent presentations about cyber topics. Fridays (and sometimes Saturdays) are used for ongoing projects. Check our <a href="/events">Events Page</a> for an up-to-date list.</p>
  <p>We are always open to suggestions, so if you have an idea for a workshop or guest speaker, please <a href="/aboutus">let us know</a>.</p>

  <h2>Projects</h2>
  <p>Our university department emphasizes learning <em>outside the classroom</em>. There are many subjects in cybersecurity which simply cannot be learned in a lecture-style classroom, so our lab provides space to build, break, secure, and experiment with technology. These experiences add invaluable skills to your repertoire, and gives you tangible stories to tell in job interviews that demonstrate your problem-solving skills.</p>
  <p>As a member of the InfoSec Club, you may jump into any project at any time. For more information on each projects, including those that are just in the idea phase, see our <a href="/projects">Projects Page</a>. Feel free to <a href="/aboutus">tell us your ideas</a> as well.</p>

  <h2>Our Lab</h2>
  <p>We operate primarily out of Jack Brown room 122 (affectionately known as "the lab"). We do our best to keep it open on a consistent schedule. If you'd like the lab open outside of these hours, <a href="/aboutus">contact one of the club officers</a>.</p>
  <p>For the <em>Spring 2015 quarter</em>:</p>
  <table class="table">
    <thead>
      <tr>
        <th>Day</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mon</td>
        <td>11am - 8pm</td>
      </tr>
      <tr>
        <td>Tue</td>
        <td>11am - 8pm</td>
      </tr>
      <tr>
        <td>Wed</td>
        <td>11am - 8pm</td>
      </tr>
      <tr>
        <td>Thu</td>
        <td>11am - 8pm</td>
      </tr>
      <tr>
        <td>Fri</td>
        <td>Flexible depending on project leaders</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="col-md-6">
  <h2>Upcoming events</h2>
  <p>This is a preview of events in the next 7 days only. Visit our <a href="/events">Events Page</a> for the full list.</p>
  <div class="panel panel-primary">
    <!-- Table -->
    <table class="table eventtable">
      <thead>
        <tr>
          <th width="120">Date</th>
          <th>Description</th>
          <th width="120">Location</th>
        </tr>
      </thead>
      <tbody>
        <tr class='event_ours'>
          <td>Wed, May 13th<br />11am</td>
          <td>NMap &amp; Wireshark Workshop, by Christian Trujillo - Free pizza while supplies last</td>
          <td>JB-122</td>
        </tr>
        <tr class='event_external'>
          <td>Wed, May 13th<br />4pm-5pm</td>
          <td>Graduate Fellowship Program (master’s students only), by the National Nuclear Security Administration. <u>Free for students.</u></td>
          <td>SB-514</td>
        </tr>
        <tr class='event_acm'>
          <td>Fri, May 15th<br />11am</td>
          <td>Beginner Linux Tutorial</td>
          <td>JB-358/359</td>
        </tr>
        <tr class='event_acm'>
          <td>Fri, May 15th<br />1pm</td>
          <td>Advanced Linux Tutorial</td>
          <td>JB-358/359</td>
        </tr>
        <tr class='event_external'>
          <td>Sat, May 16th<br />9:30am-4:30pm</td>
          <td>SWIFT TechSymposium - A System- Administration Conference for Students and inquisitive minds. <u>Free for students.</u> Includes Python, security, and networking workshops.</td>
          <td>Cal Poly Pomona</td>
        </tr>
        <tr class='event_external'>
          <td>Sat, May 16th<br />9am-5pm</td>
          <td>International Conference on Cyber Security (ICCS) - <u>$50 for students (includes food).</u> This student offer is not valid for Day #2 of the event (May 17th).</td>
          <td>CO-125</td>
        </tr>
      </tbody>
    </table>
  </div>
  <center><span class="eventlegend eventlegend_ours">green</span> = InfoSec Club Events&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="eventlegend eventlegend_acm">blue</span> = ACM Club Events</center>
</div>

{% endblock %}
