.nav ul li {
    display: inline-block;
}

.logo {
    font-size: 1em;
    line-height: 1.5em;
    background: url("/static/img/logo.png") center top no-repeat;
    width: 120px;
    height: 74px;
    margin: 0 auto 3em auto;
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}