{% extends 'layout.html' %}
{% block content %}
    <header class="nav">
        <div class="logo">
            <a href="/"><img src="/static/public/img/logo.png" alt="CSE Club at CSUSB" /></a>
        </div>

        <ul>
            {% if is_admin() %}
                <li><a href="/admin/">Admin Panel</a></li>
            {% endif %}
            <li><a href="/members/profile/">My Profile</a></li>

            {# TODO: Replace get_nav(1) with a predefined constant #}
            {% for page in get_nav(1) %}
                <li><a href="/{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
    </header>

    <div class="clear"></div><div class="clearfix"></div>

    {% block pagecontent %}
        {% if content %}
            {% autoescape false %}
                {{ content }}
            {% endautoescape %}
        {% endif %}
    {% endblock %}

    <div class="clear"></div><div class="clearfix"></div>

    {% include 'footer.html' %}
{% endblock %}