{% extends 'layout.html' %}
{% block content %}
<div class="clear"></div><div class="clearfix"></div>
<div class="sidebar">
    <a href="/"><h1 class="logo">CSE Club</h1></a>

    <ul class="nav">
        <li><a href="">Membership</a></li>
        <li><a href="">Calendar</a></li>
        <li><a href="">Workshops</a></li>
        <li><a href="">Projects</a></li>
        <li><a href="">Office Hours</a></li>
        <li><a href="">Tutoring</a></li>
        <li><a href="">Contact</a></li>
	</ul>

	<p class="about">The Computer Science and Engineering Club at CSU San Bernardino is devoted to computer science, computer engineering, and computer systems. Interested in joining? Fill in our <a href="">membership application</a> and drop it by our office in JB-540.</p>

	{% include 'footer.html' %}
</div>

<div class="content">
    <div class="post">
        <h2>Some post by Josh</h2>

        <div class="description">Jan 18, 2015 by Josh</div>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel velit lectus. Integer et augue diam. Vivamus pretium, tortor eget fermentum fermentum, sem elit luctus ipsum, non ultrices urna quam vitae nisi. Donec malesuada pellentesque arcu, ut fermentum dolor posuere ac. Morbi eleifend congue dui eu molestie. Donec interdum eu ante at dapibus. Cras elementum ligula a molestie molestie. Quisque scelerisque mi non risus tempor finibus sed et orci. Praesent pharetra eget libero egestas hendrerit. Sed consequat sed dui suscipit maximus. Sed magna augue, accumsan at ex quis, luctus interdum purus. Morbi consectetur, turpis vitae scelerisque fringilla, elit lacus consequat mauris, bibendum mollis quam velit non velit.</p>

        <div class="continue"><a href="">Continue reading</a></div>
    </div>

    <div class="post">
        <h2>Some post by Josh</h2>

        <div class="description">Jan 18, 2015 by Dylan</div>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel velit lectus. Integer et augue diam. Vivamus pretium, tortor eget fermentum fermentum, sem elit luctus ipsum, non ultrices urna quam vitae nisi. Donec malesuada pellentesque arcu, ut fermentum dolor posuere ac. Morbi eleifend congue dui eu molestie. Donec interdum eu ante at dapibus. Cras elementum ligula a molestie molestie. Quisque scelerisque mi non risus tempor finibus sed et orci. Praesent pharetra eget libero egestas hendrerit. Sed consequat sed dui suscipit maximus. Sed magna augue, accumsan at ex quis, luctus interdum purus. Morbi consectetur, turpis vitae scelerisque fringilla, elit lacus consequat mauris, bibendum mollis quam velit non velit.</p>

        <div class="continue"><a href="">Continue reading</a></div>
    </div>

    <div class="post">
        <h2>Some post by Josh</h2>

        <div class="description">Jan 18, 2015 by Mike</div>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel velit lectus. Integer et augue diam. Vivamus pretium, tortor eget fermentum fermentum, sem elit luctus ipsum, non ultrices urna quam vitae nisi. Donec malesuada pellentesque arcu, ut fermentum dolor posuere ac. Morbi eleifend congue dui eu molestie. Donec interdum eu ante at dapibus. Cras elementum ligula a molestie molestie. Quisque scelerisque mi non risus tempor finibus sed et orci. Praesent pharetra eget libero egestas hendrerit. Sed consequat sed dui suscipit maximus. Sed magna augue, accumsan at ex quis, luctus interdum purus. Morbi consectetur, turpis vitae scelerisque fringilla, elit lacus consequat mauris, bibendum mollis quam velit non velit.</p>

        <div class="continue"><a href="">Continue reading</a></div>
    </div>

    <ul class="nav">
        <li><a href="">Older Posts</a></li>
        <li><a href="">Newer Posts</a></li>
    </ul>
</div>

<div class="clear"></div><div class="clearfix"></div>
{% endblock %}