<!DOCTYPE HTML>
<html>
<head>
    <meta charset='utf-8'/>
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic|Roboto+Condensed:300" rel="stylesheet" type="text/css"/>
</head>
<body>
    <header>
        <h1 class="logo"></h1>
    </header>
    <h2>Login</h2>
    <div class=login>
        <form action="{{ url_for('.login') }}" method="post">
            {{ form.csrf_token }}

            {{ form.username.label }}
            {{ form.username }}

            {{ form.password.label }}
            {{ form.password}}
            <input type="submit" value="Submit" />
        </form>
    </div>
    <div class='newuser'>
        <a href="newuser.html">New Users</a>
    </div>
</body>
</html>
