{% extends 'layout.html' %}
{% block content %}
    <h2>Site Content</h2>

    <a href="content/add" class="button right">New Page</a>

    <table>
        <tr>
            <th>Title</th>
            <th>Path</th>
            <th>Author</th>
            <th>Last Edit</th>
            <th>Actions</th>
        </tr>
        {% for page in pages %}
            <tr>
                <td>{{ page.title }}</td>
                <td><a href="/{{ page.url }}">{{ page.url }}</a></td>
                <td>{{ page.created_by }}</td>
                <td>{{ page.edited_on }} by {{ page.edited_by }}</td>
                <td><a href="/admin/content/edit/{{ page.id }}" class="button">Edit</a> <a href="/admin/content/delete/{{ page.id }}" class="button">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
