{% extends 'members/members.html' %}
{% block pagecontent %}
    <div class="sidebar admin">
        <h3>Management</h3>

        <ul class="nav admin">
            <li><a href="/admin/content">Content</a></li>
            <li><a href="/admin/blog">Blog</a></li>
            <li><a href="/admin/members">Members</a></li>
        </ul>

        {# TODO: Replace get_nav(2) with a predefined constant #}
        {% if get_nav(2) %}
            <h3>Pages</h3>

            <ul class="nav admin">
                {% for page in get_nav(2) %}
                    <li><a href="/{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="content admin">
        {% block admincontent %}
            {% if content %}
                {% autoescape false %}
                    {{ content }}
                {% endautoescape %}
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}